name = QC


app.name = app
app.p12 = 1.p12
app.pwd = 1

flex.sdk = D:/Adobe/Adobe Flash Builder 4.7/eclipse/plugins/com.adobe.flash.compiler_4.7.0.349722/AIRSDK
flex.adt = ${flex.sdk}/lib/adt.jar

android.sdk=D:/adt-bundle-windows-x86_64-20131030/sdk
android.platform=${android.sdk}/platforms/android-8
android.platformtools=${android.sdk}/platform-tools
android.tools=${android.sdk}/tools
android.extras=${android.sdk}/extras/android/support

ios.sdkversion = iphoneos
ios.simulatorsdkversion = iphonesimulator

