winrar = D:/WinRAR/winrar.exe
app.name = app
app.keystore = keystore签名文件
app.p12 = p12签名文件
app.pwd = 123456

flex.sdk = D:/Adobe/Adobe Flash Builder 4.7/eclipse/plugins/com.adobe.flash.compiler_4.7.0.349722/AIRSDK
flex.adt = ${flex.sdk}/lib/adt.jar

android.sdk=D:/adt-bundle-windows-x86_64-20131030/sdk
android.platform=${android.sdk}/platforms/android-8
android.platformtools=${android.sdk}/platform-tools
android.tools=${android.sdk}/tools
android.extras=${android.sdk}/extras/android/support
